<section class="user-section">
  <h2><%= "Name: #{@user.name}" %>
  <%= render "action_user", user: @user %></h2>

    <article style="margin-top: 20px;">
      <h3>Pending invitations:</h3>
      <%= like_btn(@user) %>
    </article>
    <article style="margin-top: 20px;">
      <h3>Mutual friends:</h3>
      <%= like_btn(@user) %>
    </article>
  
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
